.app {
  width: 90%;
  background-color: #ddd;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  flex-basis: 25vh;
}

main {
  display: grid;
  grid-template-columns: 30% auto;
  flex-grow: 1;
  padding: 10px 0;
}

section {
  padding-right: 7px;
}

footer {
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
}
