.main_nav ul {
  list-style-type: none;
}

.main_nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  padding: 10px 5px;
  transition: 0.2s;
}

.main_nav a:hover {
  transform: translateX(10px);
}

.main_nav a.active {
  border-left: 6px solid;
  transform: translateX(0);
}

.main_nav li:nth-child(1) a.active {
  border-left-color: red;
}

.main_nav li:nth-child(2) a.active {
  border-left-color: yellow;
}

.main_nav li:nth-child(3) a.active {
  border-left-color: blue;
}

.main_nav li:nth-child(4) a.active {
  border-left-color: orange;
}
